.about-cont{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.w-40{
    width: 43%;
}

.about-knowmore-btn {
    padding: 10px 20px;
    background-color: white;
    color: #bd9234;
    border:1px solid #bd9234;    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  
  .about-knowmore-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #bd9234;
    transition: left 0.3s linear;
    z-index: -1;
  }
  
  .about-knowmore-btn:hover::before {
    left: 0;
  }
  .about-knowmore-btn:hover{
    color: white;
  }
  .about-knowmore-btn:active{
    transform: scale(0.9);
  }
    
@media screen and (max-width:771px) {
    .about-cont{
        flex-direction: column;
        padding: 20px;
        text-align: center;
    }
    .w-40{
        width: auto !important;
    }   
  }