.sticky-pos{
    position: sticky;
    top: 0;
    z-index: 999;
}
.menu-cont ul{
    list-style: none;
}
.menu-cont ul li{
    margin: 20px 0;
}

@media screen and (max-width:600px) {
    .nav-enquiry-btn{
        display: none;
    }
}